header.root {
    width: 100%;
    position: relative;
    z-index: 2;

    .grow {
        flex-grow: 1;
    }

    .header-bg {
        background-color: $header-bg;
    }

    .logo-img {
        height: 50px;
    }

    .logo-hover {
      outline: none;
    }

    .logo-hover:hover {
        background-color: transparent;
    }

    .icon-details{
        color: $icon-color;
        outline: none;

        &:hover {
            background-color: transparent;
        }

        span[class*=label] {
            color: $white;
        }

        svg {
            font-size: 40px;
        }
    }

    .section-mobile {
        display: flex;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .search-form {
        @include media-breakpoint-up(lg) {
            margin: 0 15px;
        }

        .search {
            position: relative;
            border-radius: 50px;
            background-color: $icon-color;
            width: 100%;
            color: $black;

            @include media-breakpoint-up(lg) {
                margin-left: 0;
                width: auto;
            }

            .search-icon {
                margin-left: 22px;
                height: 100%;
                position: absolute;
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: margin-left 0.5s;
            }

            &:focus-within .search-icon {
                margin-left: 10px;
            }

            .search-root {
                color: inherit;
                width: 100%;

                input {
                    padding: 8px 8px 8px 56px;
                    transition: width 0.5s, padding-left 0.5s;
                    width: 100%;

                    &:focus {
                        padding-left: 36px;
                    }

                    @include media-breakpoint-up(lg) {
                        width: 0;

                        &:focus {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    .navigation-buttons {
        height: auto;
        background-color: transparent;
        button[class*=iconOnly] {
            padding-top: 24px;
        }
        img {
            // position: absolute;
            // top: 10px;
            // left: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid white;
            box-shadow: 1px 1px 4px #3b3a36;
          }
    }

    .section-desktop {
        display: none;
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    .mobile-menu {
        background: lighten($header-bg, 10%);
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),
            0 4px 5px 0px rgba(0,0,0,0.14),
            0 1px 10px 0px rgba(0,0,0,0.12);
        max-height: 150px;
        overflow: hidden;
        transition: max-height 0.5s;

        @include media-breakpoint-down(lg) {
            display: flex;
            justify-content: center;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &.hidden {
            max-height: 0;
        }
    }
}
