.header {
    background-color: #3b3a36;

    @media (min-width: 992px) {
        #responsive-navbar-nav {
            height: auto !important;
        }
    }

    .toggle {
        outline: none;
        border: 0;
        padding: 0;
    }

    .logoImg {
        height: 50px;
    }

    .header-content {
        display: flex;
        width: 100%;
        align-items: center;

        > div {
            width: 33%;
            flex-grow: 1;
            display: flex;
        }

        .fa-icon, .fa-icon:hover, .fa-icon:visited {
            color: #e9ece5;
            font-size: 29pt;
            cursor:pointer;
        }

        .align-right {
            justify-content: right;

            > * {
                margin-left: auto;
            }
        }

        .align-center {
            justify-content: center;
        }

        .nav-link {
            display: inline-block;
        }

        .search-field {
            width: 75px;
            transition: width 0.5s;
            border: 0;
            outline: none;
            border-radius: 50px;
            box-shadow: none;
            text-decoration-color: #e9ece5;

            &:focus {
                width: 300px;
            }
        }
    }

    .align-center .fa-icon {
        padding-left: 20px;
    }

    @media (max-width: 991px) {
        .header-content{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            > div {
                width: 50%;
            }

            .align-center {
                justify-content: flex-start;
            }

            .search-row {
                width: 100%;
            }

            .search-form {
                width: 100%;
            }
        }
    }
}
