#root .toolbar {
  width: 100%;
  margin: 0;
}
.toolbar {
  background-color: $black;
  button.toolbar-sort {
    height: 37px;
  }
  button.toolbar-sort, .toolbar-add {
      background-color: $primary;
      &:hover {
        color: $primary;
        border: 1px solid $primary;
        background-color: $black;
      }
    }
  &-filter {
    &-formControl {
      label {
        transform: translate(12px, 12px) scale(1);
        text-transform: uppercase;
        color: black;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
    &-inputLabel {
      padding: 15px;

    }
    &-outlinedinput {
      margin: 10px auto;
    }
    &-select {
      &>div>div{
        background-color: $primary;
      }
      width: 100px;
    }
    &-date {
      color: $primary;
      &:hover {
        transition: all 0.3s;
        color: $black;
        background-color: $primary;
        border-radius: 5px;
      }
    }
    &-calendar {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 500;
      transition: all 0.3s;
      text-align: left;
      &-close {
        color: $white;
        position: relative;
        top: 3px;
      }
    }
  }
  //TODO create dynamic select
  #select-category,
  #select-location {
    padding: 9px 15px;
  }
  input {
    padding: 8px;
    background-color: $primary;
    width: 137px;
  }

}

//filter buttons
#root .toolbar [class*=MuiFormLabel-focused],
#root ~ div .toolbar [class*=MuiFormLabel-focused] {
   color: $primary;
}
#root .toolbar [class*=MuiOutlinedInput],
#root ~ div .toolbar [class*=MuiOutlinedInput] {
   border-color: $primary;
}

@media (max-width: 768px) {
  #root .toolbar-desktop {
    display: none;
  }
  #root .mobile-button {
    z-index: 101;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: $black;
    color: $primary;
    border-radius: 5px;
    padding: 5px;
    &:hover {
      cursor: pointer;
      background-color: $primary;
      color: $black;
      transition: all 0.3s;
    }
  }
  #root ~ div .mobile-button-close-filters {
    color: $primary;
    padding: 0;
    span {
      background-color: #181818;
    }
    svg {
      z-index: 100;
    }
  }
  .toolbar-filter-calendar {
    right: 0px;
    z-index: 1002;
    transition: all 0.3s;
    position: relative;
    top: 0px;
  }
  
  .toolbar-mobile {
    padding: 7px 0; 
  }
}

@media (min-width: 769px) {
  #root .mobile-button, 
  #root ~ div .mobile-button-close-filters,
  #root ~ div .toolbar-mobile {
    display: none;
  }
}

.react-calendar {
  border-radius: 5px;
}
#root .react-calendar__tile--active,
#root ~ div .react-calendar__tile--active {
  background: $primary;
  color: $black;
}
