.toolbar {
  background-color: $black;
  .swiper-slide {
    width: 140px !important;
  }
  button.toolbar-sort, .toolbar-add {
      background-color: $primary;
      &:hover {
        color: $primary;
        border: 1px solid $primary;
        background-color: $black;
      }
    }
  &-filter {
    &-formControl {
      label {
        transform: translate(14px, 12px) scale(1);
      }
    }
    &-inputLabel {
      padding: 15px;
    }
    &-outlinedinput {
      margin: 10px auto;
    }
    &-select {
      &>div>div{
        background-color: $primary;
      }
      width: 100px;
    }
    &-date {
      color: $primary;
      &:hover {
        transition: all 0.3s;
        color: $black;
        background-color: $primary;
        border-radius: 5px;
      }
    }
    &-calendar {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 500;
      transition: all 0.3s;
      &-close {
        background-color: #fff;
      }
    }
  }
  #select-category,
  #select-city {
    padding: 9px 15px;
  }
  input {
    padding: 8px;
    background-color: $primary;
    width: 137px;
  }

}

@media (max-width: 768px) {
  .toolbar-desktop {
    display: none !important;
  }
  .mobile-button {
    z-index: 101;
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    background-color: $black !important;
    color: $primary !important;
    &-close-filters {
      background-color: $black;
      color: $primary;
      padding: 0;
      border: 0;
      svg {
        margin: 0 auto;
      }
    }
  }
  .toolbar-filter-calendar {
    right: 0px;
    z-index: 1002;
    transition: all 0.3s;
    position: relative;
    
    top: 0px;
  }
  .toolbar-mobile {
    padding: 7px 0; 
  }
}

@media (min-width: 769px) {
  .mobile-button {
    display: none !important;
  }
  .toolbar-mobile {
    display: none !important;
  }
}
