.toolbar {
  background-color: $black;
  .swiper-slide {
    width: 140px !important;
  }
  button {
    background-color: $primary;
  }
  &-filter {
    &-formControl {
      margin: 15px 10px !important;
      label {
        transform: translate(14px, 12px) scale(1);
      }
    }
    &-inputLabel {
      padding: 15px;
    }
    &-outlinedinput {
      margin: 10px auto;
    }
    &-select {
      background-color: $primary;
      width: 100px;
    }
    &-date {
      margin: 10px 10px;
      color: $primary;
    }
    &-calendar {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 500;
      transition: all 0.3s;
      &-close {
        background-color: #fff;
      }
    }
  }
  #select-category,
  #select-city {
    padding: 9px 15px;
  }
  input {
    padding: 8px;
    background-color: $primary;
    width: 137px;
  }

}

@media (max-width: 768px) {
  .toolbar {
    z-index: 100;
    position: fixed;
    bottom: 0;
    &-filter-calendar {
      top: -300px;
    }
  }
}
