.rooms-toolbar {
  button {
    margin: 15px 10px;
  }
  .MuiOutlinedInput-input-187 {
      padding: 10px;
  }
  .Rooms-formControl-2 {
      margin: auto 0;
  }
  .MuiInputLabel-outlined-164 {
    transform: translate(14px, 12px) scale(1);
  }
  .Rooms-textField-4 {
      margin: auto 0;
  }
}
