#root {
    .rooms-page-cards {
        width: 90%;
        margin: 0 auto;
    }
}
.rooms-page {
    background-color: $white;
    text-align: center;
    min-height: calc(100vh - #{$footer-height} - #{$header-height});

    &-cards {
        max-width: 80rem;
    }
}