/* Available modificators;
* add-post__slide_data-entry;
* add-post__slide_data-preview'
*/


.add-post {
    border: 1px solid red;
}

.add-post__swiper {
    position: relative;
}

.add-post__pagination {
    z-index: 2;
}

.add-post .add-post__submit-btn {
    position: fixed;
    min-height: 44px;
    max-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: $white;
    line-height: 44px;
    background-color: $secondaryBlack;
    border-radius: 0;

    &:hover,
    &:active {
        background-color: $secondaryBlack;
    }
}

.add-post .add-post__editor {
    & [title*="Indent"],
    & [title*="Outdent"],
    & .rdw-option-disabled {
        display: none;
    }
}

#root .add-post .add-post__fab {
    position: fixed;
    right: 10px;
    // 44px is height of fixed btn;
    bottom: calc(44px + 10px);
}

.add-post .add-post__pagination span {
    background-color: $primary;
}