.main-content {
    padding: 20px;
    display: flex;
    flex-direction: row;

    .card {
        width: 100%;

        .media {
            object-fit: cover;
        }
    }
}

// Styles added by Denis;
.home {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;

    & * {
        box-sizing: border-box;
    }
}

.home__main-swiper {
    height: calc(100vh - #{$footer-height} - #{$header-height});
    padding: 0;
    overflow: hidden;
}

.home__main-swiper-slide {
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.home__main-swiper-pagination {
    position: absolute;
    z-index: 1;
}

.home .home__main-swiper 
.home__main-swiper-pagination span {
    width: 24px;
    height: 24px;
    margin: 16px 0;
    opacity: 0;
    animation-name: scale-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: lighten($secondaryBlack, 80%);

    &.swiper-pagination-bullet-active {
        background-color: $primary;
    }

    @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
            animation-delay: 0.05s * $i + 1s;
        }
    }    
}

// Tablets;
@include media-breakpoint-up(md) {
    .home__main-swiper {
        height: calc(100vh - #{$footer-height} - #{$header-height-tablet});
    }    
}

