.main-content {
    padding: 20px;
    display: flex;
    flex-direction: row;

    .card {
        width: 100%;

        .media {
            object-fit: cover;
        }
    }
}

// Styles added by Denis;
.home {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;

    & * {
        box-sizing: border-box;
    }
}

.home__rooms-wrapper {
    padding-top: 10px;
}

// Tablets;
@include media-breakpoint-up(md) {
}
