.sign-in {
    flex-grow: 1;
    background-image: url('./../assets/images/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    user-select: none;
    height: calc(100vh - #{$footer-height} - #{$header-height});
}

.sign-in hr {
    width: 100%;
    height: 1px;
    margin: 0 0 16px;
    border: 0;
    background-color: white;
}

.sign-in + footer {
    display: none;
}

// Left part;
.sign-in .sign-in__info {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow: none;
    background-color: transparent;
} 


.sign-in__info h1 {
    font-weight: 600;
}

.sign-in .sign-in__info-text {
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

// Right part;
.sign-in .sign-in__form {
    padding: 20px;
    opacity: 0;
    background-color: rgba(59, 58, 54, 0.4);
    animation-name: scale-in;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.sign-in__form h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
}

.sign-in__form svg {
    margin-right: 10px;
}

.sign-in__form hr {
    margin-bottom: 0;
}

.sign-in__field-wrapper {
    display: flex;
    align-items: baseline;
    color: rgba(255, 255, 255, 0.8);
    
}

.sign-in__field-wrapper + .sign-in__field-wrapper 
.sign-in__input {
    margin-top: 16px;
}

.sign-in__field-wrapper svg {
    margin-right: 12px;
    transform: translate3d(0, 4px, 0);
}

.sign-in__btn-wrapper {
    margin-top: 30px;
    text-align: center;
    .forgot_Password_link{
        display: block;
        margin-top: 10px;
        color: #f7f4e9;
        text-transform: capitalize;
        &:hover{
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
        }
    }
    .mailMessage{
        color: #f7f4e9;
        margin: 0 0 0 50px;
    }
    
}
#root {
    .sign-in__submit-btn {
        color: $white;
        border-color: $white;
        & svg {
            margin-left: 12px;
            margin-right: 0;
        }
    }
}


#root [class*="MuiFormLabel-focused"] {
    color: $white;
}

@media only screen and (min-width: 767px) {

    #root .sign-in {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .sign-in .sign-in__info {
        display: flex;
        max-width: 450px;
    }

    .sign-in .sign-in__form {
        max-width: 450px;
        margin-right: 20px;
        margin-left: 20px;
    }
}
