.edit-profile {
    box-sizing: border-box;
    min-height: calc(100vh - #{$footer-height} - #{$header-height});
    border: 2px solid red;
    @include svg-bg();

    & * {
        box-sizing: border-box;
    }
}

.edit-profile__form-wrapper {
    border: 3px solid red;
}

@media only screen and (min-width: 768px) {
    .edit-profile__form-wrapper {
        max-width: 1168px;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}