.events-page {
    background-color: $white;
    min-height: calc(100vh - #{$footer-height} - #{$header-height});

    &-cards {
        width: 90% !important;
        margin: 0 auto !important;
        max-width: 80rem;
    }
}