#root .room-details-page-typography-padding {
  padding: 24px;
}

#root .room__tabs-wrapper > div:first-child > div:nth-child(2)
.room-details-page-typography-padding,
#root .room__tabs-wrapper > div:first-child > div:nth-child(5) 
.room-details-page-typography-padding {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#root .room-page-details {
  .room-page-member-link,
  .room-page-member-link:active,
  .room-page-member-link:visited,
  .room-page-member-link:hover {
    text-decoration: none;
    color: $black;
  }

  .feed-card, .post-card {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  div[class*=MuiCardMedia-root] .event-card__date,
  div[class*=MuiCardMedia-root] .event-card__location {
    transform: none;
  }

  .room-details-add-event-button {
    display: flex;
    justify-content: flex-end;

    .room-details-add-event-link {
      text-decoration: none;

      .room-details-add-event, .room-details-add-event:hover {
        background-color: $primary;
        margin-bottom: 18px;
        box-shadow: $secondaryBlack;
        border-radius: 50px;
        padding: 0;

        @include media-breakpoint-down(lg) {
          font-size: 11pt;
          margin-top: 0;
        }
      }
    }
  }

  .room-details-page-photo-fab {
    border: none;
    box-shadow: none;
    background-color: $primary;
    margin: 10px 0;
    display: flex;
    justify-content: end;
  }

  .read-more-state {
    display: none;
  }

  .read-more-wrap {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
    padding-bottom: 5px;

    max-height: 3rem;
    overflow-y: hidden;
    transition: 0.5s ease-out;
  }

  .read-more-state:checked ~ .read-more-wrap {
    max-height: 30rem;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: "Read more";
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
  }

  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: .25em;
  }

  @include media-breakpoint-down(lg) {
    [data-swipeable] {
      padding-bottom: 72 - $footer-height;
    }
  }

  .room-details-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column-reverse;
    }

    .room-details-page-wrapper:first-child {
      padding-top: 30vh;
    }

    .room-details-page-title {
      padding-top: 8px;
      padding-left: 16px;
      padding-right: 16px;
      text-align: center;
      font-weight: 100;
      font-size: 3.75rem;
      line-height: 4.25rem;
      color: $black;

      @include media-breakpoint-down(md) {
        font-size: 18pt;
        padding: 0;
      }

      @include media-breakpoint-down(lg) {
        font-size: 24pt;
        padding: 0;
      }
    }

    .room-details-page-fab {
      margin-top: 18px;
      box-shadow: none;
      background-color: $primary;
      margin-bottom: 10px;

      @include media-breakpoint-down(lg) {
        font-size: 11pt;
        margin-top: 0;
      }

      .room-details-page-join {
        padding-left: 10px;
        padding-right: 5px;
        color: $black;
      }
    }
  }

  .room-details-page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .room-details-page-paper {
      margin: 10px;
      box-shadow: none;
    }

    .room-details-page-cover-grid {
      display: flex;
      justify-content: center;

      .room-details-page-cover {
        height: 400px;
        width: auto;
        max-width: 100%;

        @include media-breakpoint-down(md) {
          height: 100%;
          width: 100%;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
    }
  }

  .tab-bar {
    flex-grow: 1;
    width: 100%;

    [class*=MuiBadge-badge] {
      margin-right: 45px;
      color: $black;
      background-color: $white;

      @include media-breakpoint-down(lg) {
        margin-right: 16px;
      }
    }

    .badge-room-margin {
      display: flex;
      flex-direction: column;

      .MuiSvgIcon-root-91 {
        padding-left: 42px;
        padding-bottom: 5px;

        @include media-breakpoint-down(lg) {
          padding-left: 25px;
        }
      }

      .badge-members {
        margin: 0;
      }
    }

      div[class*=flexContainer] {
        @include media-breakpoint-up(md) {
          justify-content: center;
        }
        @include media-breakpoint-down(md) {
          justify-content: space-between;
        }
      }

    .tab-menu {
      background-color: $primary;

      [class*=MuiButtonBase-root] {
        color: $secondaryBlack;
      }

      @include media-breakpoint-down(lg) {
        position: fixed;
        bottom: 0;
        z-index: 1;
        width: 100%;
      }

      button[class*=selected] {
        color: $black;
      }

      span[class*=colorSecondary] {
        background-color: $black;
      }
    }
  }

  .room-details-card {
    max-width: 100vw;
    margin: 0;
  }

  .room-details-card-grid {
    padding: 0;

    &:last-of-type > div:first-child {
      border-bottom: 0;
    }
  }

  .room-details-card-grid a{
    display: flex;
    justify-content: center;
  }

  .avatar-center {
    display: flex;
    justify-content: left;

    .avatar-flex {
      flex: none;
    }
  }

  @include media-breakpoint-down(lg) {
    .ReactGridGallery::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  .event-card {
    max-width: none;
    width: 100%;
    max-height: none;
  }
}

#root .room__add-post-btn {
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary;
  margin-bottom: 14px;
}

@include media-breakpoint-up(lg) {

  // Need !important to overwrite SwipeableViews component JS;
  .room__tabs-wrapper div[data-swipeable]:nth-last-of-type(2),
  .room__tabs-wrapper div[data-swipeable]:nth-last-of-type(5) {
    overflow: hidden !important;
  }
}
