  #root {
    .star-rating {
      position: relative;
    &__star {
      display: inline-block;
      padding: 0 3px;
      vertical-align: middle;
      color: #ABABAB;
      transition: color .2s ease-out;
      font-size: 20px;
  
      &:hover {
        cursor: pointer;
      }
      
      &.is-selected {
        color: $primary;
      }
    }
    &-message {
      position: absolute;
      font-size: 18px;
    }
  }
}
  
