footer.footer-content {
  display: flex;
  flex-direction: row;
  padding: 10px;

  a:hover, a:visited {
    color: #3b3a36;
    text-decoration: none;
  }

  .copyright {
    text-align: right;
  }

}
