.event-page {
   
    /* fallback for old browsers */
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 26px;

    & * {
        box-sizing: border-box;
    }
}


// Tabs;
.event-page .event-page__tab-menu {
    position: fixed;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    max-height: 72px;
    background-color: $primary;

    [class*=MuiButtonBase-root] {
      color: $secondaryBlack;
    }

    button[class*=selected] {
      color: $black;
    }

    span[class*=colorSecondary] {
      background-color: $black;
    }

    & * {
        max-height: 72px;
    }
}

.event-page .event-page__tab-menu button {
    padding-top: 0;
    min-width: 25%;
    max-width: 25%;
    overflow: hidden;
}

.event-page__badge-wrapper > span > svg {
    transform: translate3d(0, 8px, 0);
}

.event-page__badge-wrapper > span > span {
  top: 8px;
}

.event-page__badge-wrapper span > span {
  color: $black;
  background-color: $white;
}

// For better UX;
.event-page > * {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.event-page > .event-page__title-wrapper:first-child {
    padding-top: 30vh;
}

.event-page__main-details-wrapper {
    margin-bottom: 8px;
}

.event-page .event-page__main-details {
    padding: 8px;
    color: black;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
}

.event-page__title-desktop-wrapper h5 ~ * {
    display: none;
}

.event-page .event-page__title {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    color: $black;
    text-align: center;
    font-weight: 100;
}

.event-page .event-page__list-item {
    padding: 0;
    margin-bottom: 8px;
}

.event-page .event-page__list-item svg {
    fill: $secondaryBlack;
}

.event-page .event-page__list-item-text {
    padding-left: 0;
}

.event-page .event-page__list-item-text span {
    padding-right: 0;
    font-size: 1rem;
    line-height: 1.143rem;
    color: $black;
}

// To show upload button;
.event-page .event-page__section:nth-of-type(3) {
    padding-top: 48px;
}

.event-page .event-page__fab {
    display: flex;
    margin: 10px auto 40px;
    color: $black;
    background-color: $primary;
    box-shadow: none;

    &.event-page__fab_upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        color: $secondaryBlack;
        background-color: transparent;
        cursor: pointer;

        & *  {
            cursor: pointer;
        }

        &:hover,
        &:active {
            background-color: transparent;
            color: $primary;
        }
    }
}

.event-page .event-page__fab input[type=file] {
    display: none;
}

.event-page .event-page__fab label {
    display: flex;
    align-items: center;
}

.event-page .event-page__fab .event-page__fab-text {
    padding-left: 10px;
    padding-right: 5px;
}

// FAQ chapter;
.event-page .event-page__faq-title {
    padding-left: 12px;
    padding-right: 12px;
}

.event-page .event-page__faq-title p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $black;
}

.event-page .event-page__faq-title + div 
.MuiExpansionPanelDetails-root-216 {
    padding-top: 0; 
}

.event-page .event-page__faq-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
}

.event-page .event-page__avatar {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px;
}

.event-page__faq-answer .event-page__avatar {
    margin-top: 0;
}

// Related to swiper;
.event-page .event-page__gallery-swiper {
    min-height: $maxEventSwiperHeight;
    max-height: $maxEventSwiperHeight;
}

.event-page .event-page__gallery-swiper img {
    max-height: $maxEventSwiperHeight;
    width: auto;
    border-radius: 3px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@for $i from 0 through $maxEventGallerySlidesPerView {

    .event-page .event-page__gallery-swiper
    .swiper-slide:nth-child(#{$i}) img {
        animation-delay: 0.5s * $i;
    }
}

.event-page .image-gallery-slides {
    flex-grow: 1;
}

.event-page .swiper-slide {
    display: inline-block;
    width: auto;
    border-radius: 5px;
}

.event-page .event-page__tabs-swiper {
    display: flex;
    width: 100%;
    min-height: calc(100vh - (0.67rem * 2) - #{$footerHeight} - #{$maxEventSwiperHeight} - #{$header-height});
    max-height: unset;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.event-page__tabs-swiper .swiper-wrapper 
.swiper-slide:nth-of-type(2) [class*=MuiExpansionPanel] {
    border: 0;
    box-shadow: none;

    &::before {
        background-color: $primary;
    }
}

.event-page__tabs-swiper .swiper-wrapper 
.swiper-slide:nth-of-type(2) > [class*=MuiExpansionPanel]:first-of-type::before {
    display: none;
}

.event-page__sections-wrapper {
    display: flex;
    flex-direction: column;
}

.event-page .event-page__section.swiper-slide {
    opacity: 0;
}

// Animation is used to hide jump defect caused by gallery;
.event-page .event-page__section.swiper-slide-active {
    display: block;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.event-page .event-page__section > 
div[class*=MuiExpansionPanel]::before {
    background-color: rgba(17, 17, 17, 0.12);
    top: 0;
}

.event-page .event-page__desktop-subtitle {
    display: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-weight: 100;
}

.event-page [class*=MuiFab-primary]:hover {
    background-color: $primary;
    box-shadow: none;
}

.event-page__img-wrapper {
    display: none;
}

.event-page .event-page__users-swiper {
    padding-bottom: 30px;
}

.event-page__users-swiper .swiper-slide {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.event-page .event-page__users-swiper .swiper-pagination {
    transform: translateY(14px);
}

.event-page__users-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.event-page__users-swiper
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $primary;
}

.event-page__users-list {
    width: 100%;
}

// Mobile landscape;
@media only screen and (max-width: 768px) and (orientation: landscape) {
    .event-page__users-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .event-page__users-list-item {
        max-width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .event-page {
        padding-bottom: 0;
        border-top: 1px solid transparent;
    }

    .event-page .event-page__tab-menu {
        display: none;
    }

    .event-page .event-page__section:nth-of-type(3) {
        padding-top: 0;
    }

    .event-page__title-wrapper {
        position: relative;
        max-width: 1168px;
        margin: 30px auto;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-page .event-page__title-wrapper h5 {
        padding: 0;
    }

    .event-page__img-wrapper {
        display: block;
        width: 350px;
        height: 200px;
        margin-left: auto;
        box-shadow: inset 0px 0px 3px 3px #f6f5f3;
        overflow: hidden;
        background-size: cover;
    }

    .event-page .event-page__fab {
        position: absolute;
        right: calc(16px + 24px);
        bottom: 16px;
        margin: 0;
    }

    .event-page .event-page__title {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }

    .event-page .event-page__desktop-subtitle {
        display: block;
        font-weight: 100;
    }

    .event-page .event-page__fab {
        min-width: 150px;
    }

    .event-page .event-page__tabs-swiper {
        max-width: 1168px;
        margin: 0 auto;
        padding: 24px;
        background-color: $white;
        border-radius: 5px;
        overflow: visible;
    }

    .event-page .event-page__tabs-swiper >
    .swiper-wrapper {
        flex-wrap: wrap;
    }

    .event-page .event-page__tabs-swiper >
    .swiper-wrapper .swiper-slide {
        min-width: auto;
        max-width: auto;
        opacity: 1;
    }

    .event-page .event-page__section-pagination {
        display: none;
    }

    // Need !important to overwrite Swiper styles;
    .event-page__tabs-swiper > .swiper-wrapper {
        height: unset !important;
        transform: none !important;
    }

    .event-page .event-page__section {
        max-width: 100%;
        margin: 0;
        margin-bottom: 16px;
        padding: 0;
        flex-grow: 1;
    }

    .event-page__users-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .event-page__users-list-item {
        max-width: 33%;
    }

    .event-page .event-page__main-details {
        padding: 16px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 100;
    }

    .event-page .event-page__list-item-text span {
         font-size: 1.5rem;
         line-height: 2rem;
         font-weight: 100;
    }

    .event-page .MuiExpansionPanel-root-206 {
        margin-bottom: 6px;
        box-shadow: none;
        border: 0;

        &::before {
            display: none;
        }
    }

    .event-page .event-page__faq-answer {
        padding-left: 32px;
    }

    .event-page .MuiExpansionPanelSummary-expandIcon-215 {
        top: 22px;
    }

    .event-page [class*=ReactGridGallery] {
        background-color: transparent;
    }
}

@media only screen and (min-width: 1168px) {
    .event-page .event-page__tabs-swiper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .event-page .event-page__tabs-swiper >
    .swiper-wrapper .swiper-slide.event-page__section {
        &:nth-child(1) {
           display: none;
        }

        &:nth-child(2) {
            order: -2;
            min-width: 62%;
            max-width: 62%;
        }

        &:nth-child(3) {
            min-width: 100%;
            max-width: 100%;
        }

        &:nth-child(4) {
            order: -1;
            min-width: 38%;
            max-width: 38%;
        }
    }

    .event-page__title-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .event-page__title-desktop-wrapper {
        display: flex;
        max-width: calc(100% - 510px);
        flex-wrap: wrap;
    }

    .event-page__title-desktop-wrapper h5 {
        margin-bottom: 16px;
    }

    .event-page__title-desktop-wrapper h5 ~ * {
        display: block;
    }

    .event-page__img-wrapper {
        width: 500px;
        height: 300px;
    }

    .event-page .event-page__fab {
        right: 16px;
    }
    
}

// Animation;
@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}