.event-page {
    
}

.event-page__main-details {
    padding-left: 16px;
    padding-right: 16px;
}

.event-page__main-details-inner {
    padding: 8px;
}

// Related to swiper;
.event-page .swiper-container {
    max-height: $maxEventSwiperHeight;
}

.event-page .event-page__title {
    font-weight: 100;   
}

// Related to swiper;
.event-page .swiper-container img {
    max-height: $maxEventSwiperHeight;
    width: auto;
}

.event-page .image-gallery-slides {
    flex-grow: 1;
}

.event-page .swiper-slide {
    display: inline-block;
    width: auto;
    border-radius: 5px;
}