#root .add-room-page {
  padding: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;

  @include svg-settings-bg('#{$secondaryBlack}');
  background-color: white;
  min-height: calc(100vh - 86px - 51px);

  .add-room-page-container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;

    .add-room-stepper {
      background-color: transparent;

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      select[class*=MuiNativeSelect-select] {
        width: calc(100% - 60px);
      }
    }

    .created-room-info {
      display: flex;
      flex-direction: column;
      padding: 24px 24px 24px 48px;
      border-radius: 50px;
      margin: 24px 0;
      width: 50%;

      @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 16px;
        margin: 0;
      }

      .created-room-info-label-info {
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 8px;
      }

      .created-room-info-label {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 100;
        padding-bottom: 8px;
      }
    }

    svg[class*=MuiStepIcon-active], svg[class*=MuiStepIcon-completed] {
      color: $primary;
    }

    text[class*=MuiStepIcon-text] {
      fill: $black;
      font-size: 0.9rem;
    }

    .add-room-header {
      font-size: 2rem;
      display: flex;
      padding-bottom: 24px;
      justify-content: center;
    }

    .add-room-text-field {
      padding-bottom: 24px;

      div[class*=MuiFilledInput] {
        background: lighten($primary, 10%);
      }
    }

    .formControl {
      width: 210px;
      padding-bottom: 24px;
      display: flex;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .add-room-button-upload, .add-room-button-upload:hover,
    .add-room-button-create, .add-room-button-create:hover{
      background-color: $secondaryBlack;
      border-radius: 50px;
      color: $white;

      input[type="file"] {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        opacity: 0;
      }
    }

    .add-room-button-update-cover, .add-room-button-update-cover:hover{
      background-color: $primary;
      border-radius: 50px;
      color: $black;

      margin-top: 48px;
      width: 100%;
    }

    .add-room-select option {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 100;
    }

    .add-room-select select:focus {
      background: none;
    }

    .add-room-invite-members {
      padding-bottom: 24px;

      .invite-link {
        color: $black;

        .textField {
          width: 100%;
        }
      }
    }

    .add-room-button, .add-room-create-button {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }

    div[class*=MuiInput-underline]:not([class*=-error-]):after {
      border-bottom: 2px solid $primary;
    }

    label[class*=MuiFormLabel], legend[class*=MuiFormLabel] {
      color: $black;

      &[class*=-error-] {
        color: #f44336;
      }
    }

    span[class*=MuiSwitch-bar] {
      background-color: $primary;
      opacity: 0.6;
    }

    span[class*=MuiSwitch-checked] {
      color: $primary;
    }

    span[class*=MuiTypography-body1] {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 100;
    }
  }
}
