.register {
    flex-grow: 1;
    background-image: url('../assets/images/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    user-select: none;
}

.register + footer {
    display: none;
}

.register hr {
    width: 100%;
    height: 1px;
    margin: 0 0 16px;
    border: 0;
    background-color: white;
}

.register + footer {
    display: none;
}

// Left part;
.register .register__info {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow: none;
    background-color: transparent;
}

.register__info h1 {
    font-weight: 600;
}

.register .register__info-text {
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

// Right part;
.register .register__form {
    padding: 20px;
    opacity: 0;
    background-color: rgba(59, 58, 54, 0.4);
    animation-name: scale-in;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.register__form h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
}

.register__form svg {
    margin-right: 10px;
}

.register__form hr {
    margin-bottom: 0;
}

.register__field-wrapper {
    display: flex;
    align-items: baseline;
    color: rgba(255, 255, 255, 0.8);
}


.register__field-wrapper + .register__field-wrapper 
.input {
    margin-top: 16px;
}

.register__field-wrapper svg {
    margin-right: 12px;
    transform: translate3d(0, 4px, 0);
}

.register__btn-wrapper {
    margin-top: 30px;
    text-align: center;
}

.register__submit-btn {
    background-color: #3f51b5;

    & svg {
        margin-left: 12px;
        margin-right: 0;
    }
}

@media only screen and (min-width: 767px) {

    #root .register {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .register .register__info {
        display: flex;
        max-width: 450px;
    }

    .register .register__form {
        max-width: 450px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

// Related to animatons;
@keyframes scale-in {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}