$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @if $max {
    @media (max-width: $max - 1) {
      @content;
    }
  } @else {
    @content;
  }
}

// Get converted hex color;
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search); 
  @return if($index, 
      str-slice($string, 1, $index - 1) + $replace + 
      str-replace(str-slice($string, $index + 
      str-length($search)), $search, $replace), 
      $string); 
}         

@function hexToUrl($color) {
  $newcolor: str-replace($color, '#', '%23');
  @return $newcolor;
}