@import 'functions.scss';
@import 'mixins.scss';
@import 'variables.scss';

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.app-container {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  //overflow-x: hidden;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Related to btn;
#root button:disabled {
  opacity: 0.8;
  color: white;
}

// Related to inputs;
.input {
  width: 100%;
  margin-top: 6px !important;
}

.input input {
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding: 8px 0;
  color: white;
}

.input label {
  color: white;
  font-size: 1.143rem;

  &.MuiInputLabel-shrink-154 {
      color: #e5e5e5;
  }
}

.input label + div::before,
.input label + div::after {
  border-color: white;
}

#root .input:hover label + div::before,
#root .input:hover label + div::after {
  border-color: #e5e5e5;
}

#root .MuiFormLabel-focused-159 .MuiFormLabel-asterisk-164,
#root .MuiFormLabel-filled-162 .MuiFormLabel-asterisk-164 {
  color: #e5e5e5;
}

// Related to avatar;
#root .avatar {
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;
}

#picker-popover {

  div[class*=MuiPickerDTHeader] > * {
    color: rgba($black, 0.54);

    &[class*=toolbarBtnSelected] {
      color: $black;
    }
  }

  div[class*=MuiPickerDTTabs-tabs] {
    background-color: $primary;

    svg {
      color: $black;
    }
  }

  span[class*=MuiPrivateTabIndicator-colorSecondary], button[class*=MuiPickersDay-selected] {
    background-color: $black;
  }

  button[class*=MuiPickersDay-current], div[class*=MuiTypography-colorPrimary], div[class*=MuiPickersYear-root]:focus {
    color: $primary;
  }

  div[class*=MuiPickersClock-pin], div[class*=MuiPickersClockPointer-pointer], div[class*=MuiPickersClockPointer-noPoint],
  div[class*=MuiPickersToolbar-toolbar] {
    background-color: $primary;
  }

  div[class*=MuiPickersClockPointer-noPoint], div[class*=MuiPickersClockPointer-thumb] {
    border: 14px solid $primary;
  }
}

// Related to events and rooms cards;
#root [data-wrapper-link] {
  text-decoration: none;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@import '../containers/PageContainer/PageContainer.scss';
@import '../components/AppHeader/AppHeader.scss';
@import '../components/Footer/Footer.scss';
@import '../components/Home/Home.scss';
@import '../components/Register/Register.scss';
@import '../components/SignIn/SignIn.scss';
@import '../components/EventPage/EventPage.scss';
@import '../components/UI/Spinner/Spinner.scss';
@import '../components/Rooms/Rooms.scss';
@import '../components/AddRoom/AddRoom.scss';
@import '../components/Rooms/RoomCard/RoomCard.scss';
@import '../components/Toollbar/Toolbar.scss';
@import '../components/RoomPage/RoomPage.scss';
@import '../components/EditProfile/EditProfile.scss';
@import "../components/UI/StarRating/StarRating.scss";
@import "../components//Events/Events.scss";
@import "../components//Events/EventCard/EventCard.scss";
@import '../components/AddEvent/AddEvent.scss';
@import "../components/nRoomCard/nRoomCard.scss";
@import "../components/nEventCard/nEventCard.scss";
@import "../components/PrivacyPolicy/privacypolicy.scss";
@import "../components/AddPost/AddPost.scss";
@import "../components/PostCard/PostCard.scss";
@import "../components/ImageUploader/ImageUploader.scss";
@import "../components/ImageUploader/DropZone/DropZone.scss";
@import "../components/UserProfile/UserProfile.scss";
@import "../components/CommentForm/CommentForm.scss";

@import "../components/WYSWYGeditor/Editor.scss";
@import "../components/EditRoom/EditRoom.scss";
@import "../components/EditEvent/EditEvent.scss";
@import "../components/AddComplaint//AddComplaint.scss";
