//colors
$white: #f7f4e9;
$black: #181818;
$primary: #facd3d;

//global
$link-color: $black;

//header
$header-bg: $black;
$icon-color: $primary;
$header-height: 86px;

//footer
$footer-height: 51px;
