// Colors;
$indigo: #3f51b5;
$indigoBright: #1432da;
$white: #f7f4e9;
$black: #181818;
$primary: #facd3d;
$lightBlue: #C6D4FF;
$red: rgb(255, 0, 0);
$green: rgb(30, 255, 0);
$secondaryBlack: rgba(0, 0, 0, 0.8);

//global
$link-color: $black;

//header
$header-bg: $black;
$icon-color: $primary;
$header-height: 80px;
$header-height-tablet: 86px;

//footer
$footer-height: 44px;

// Sizes;
$maxEventSwiperHeight: 30vh;
$footerHeight: 19px;
$maxEventSwiperHeight: 30vh;

// Spacings;
$normalSpacing: 16px;

// Event page;
$maxEventGallerySlidesPerView: 10;

// Home page;
$maxLoadPostsAmount: 10;