h1 {
  text-align: center;
  margin: 2rem;
}

.privacy-policy {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
